.bg-myBlue {
    background-color: #e8e9eb;
    /* background-color: #4285F4; */
}

.fa-color {
    color: #3f51b5;
}

/* .affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

.affix + .container-fluid {
    padding-top: 70px;
    position: sticky;
    top: 0;
} */
